* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(80, 14, 134);
}

#container {
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
}

#container h1 {
    color: white;
}

#container2 {
    margin-top: 5%;
    width: 60%;
    height: 60%;
    text-align: center;
}

#calculadora {
    margin-top: 3%;
    width: 40%;
    height: 100%;
    background-color: white;
    margin-left: 30%;
    border-radius: 3%;
    text-align: left;
}

#dados {
    padding-top: 8%;
}